.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
}

.slider_img {
  position: absolute;
  z-index: 91;
  width: 300%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  transition: all 0.8s;
}

.button_prev {
  position: absolute;
  z-index: 100;
  width: 70px;
  height: 70px;
  margin: 2.5%;
  top: 50%;
  background-color: rgba(29, 29, 29, 0.404);
  border-radius: 50%;
  border: 2px solid rgb(204, 204, 204);
  color: rgb(204, 204, 204);
  font-size: 20px;
  font-weight: 600;
}

.button_prev:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.61);
}

.button_next {
  position: absolute;
  z-index: 100;
  width: 70px;
  height: 70px;
  margin: 2.5%;
  top: 50%;
  right: 0;
  border-radius: 50%;
  background-color: rgba(29, 29, 29, 0.404);
  border: 2px solid rgb(177, 177, 177);
  color: rgb(177, 177, 177);
  font-size: 20px;
  font-weight: 600;
}

.button_next:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.61);
}

.nav_slide {
  position: absolute;
  top: 91%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle {
  z-index: 100;
  width: 30px;
  height: 30px;
  margin: 0.2%;
  border-radius: 50%;
  background-color: rgba(29, 29, 29, 0.404);
  border: 2px solid rgb(177, 177, 177);
}

.circle:hover {
  background-color: rgba(29, 29, 29, 0.87);
  border: 2px solid rgb(255, 255, 255);
}

.activated_circle {
  z-index: 100;
  width: 30px;
  height: 30px;
  margin: 0.2%;
  border-radius: 50%;
  background-color: rgba(29, 29, 29, 0.87);
  border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .button_prev {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }

  .button_next {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }

  .circle {
    width: 25px;
    height: 25px;
    margin: 0.8%;
    border-radius: 50%;
  }

  .activated_circle {
    width: 25px;
    height: 25px;
    margin: 0.8%;
  }
}
